<article>
   
    <% unless cart.line_items.empty? %>
    <h2>Your Cart</h2>
    <table>
        <%= render(cart.line_items) %>
  
    </table>
    <%= button_to 'Empty cart', cart,
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
    <% end %>
</article>